/* index.css */
:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 18px; /* Thiết lập 1 rem = 16px */
  -webkit-font-smoothing: antialiased; /* Giúp chữ nét hơn trên nền tối */
}

body {
  margin: 0;
  font-size: 1rem; /* Tương đương 16px */
  line-height: 1.5;

}

body > *{
  box-sizing: border-box;
}